.j_contentsAllWrapper:before,
.j_contentsAllWrapper:after{
   content: "";
   clear: both;
   display: block;
}
.j_contentsAllWrapper{
   font-family: '맑은 고딕','Malgun Gothic';
   /* max-width: 1200px; */
   width: 100%;
   margin: 0 auto;
}
.j_storageBanner{
   position: relative;
   width: 100%;
   height: 250px;
   background: url(../img/cabinet/cabinetBanner.jpg);
   background-size: cover;
}
.j_storageBanner .j_title{
   text-align: center;
   font-size: 32px;
   font-weight: 700;
   color: #2e2f33;
}
.j_storageBanner .j_title h2{
   position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
   display: inline-block;
   font-size: 40px;
   font-weight: bold;
   color: #fff;
   line-height: 69px;
   border-bottom: 2px solid #fff;
   text-shadow: 2px 3px 7px #333;
}
.j_storageBanner .j_description{

   position: absolute;
   width: 90%;
   margin-top: 50px;
   margin-bottom: 50px;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   line-height: 25px;
   display: block;
   color: #fff;
   text-shadow: 2px 3px 7px #333;
}
.j_underBanner{
}
.j_underBanner .j_direction{
   width: 100%;
   max-width: 1200px;
   margin: 0 auto;
   width: 100%;
   height: 63px;
   line-height: 63px;
   text-indent: 10px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.09);
   font-family: "Malgun Gothic";
   font-size: 12px;
}
.j_underBanner .j_direction>span{

}
.j_underBanner .j_direction>span:nth-child(1) a,
.j_underBanner .j_direction>span:nth-child(3) a{
   color: #979899;
   font-weight: 700;
}
.j_underBanner .j_direction>span:nth-child(2) a,
.j_underBanner .j_direction>span:nth-child(4) a{
   color: #979899;
}
.j_underBanner .j_direction>span:nth-child(5) a{
   color: #6C6D6E;
   font-weight:700;
}
.j_underBanner select{
   float: right;
   margin-top: 22.5px;
   margin-right: 5px;
}
.j_underBanner select:after{
   content: "";
   display: block;
   clear: both;
}

.j_storageList{
   width: 100%;
}
.j_storageList ul{
   width: 100%;
   max-width: 1200px;
   height: auto;
   margin: 30px auto;
   text-align: center;
   box-sizing: border-box;
   overflow: hidden;
}

.j_storageList ul li{
   display: inline-block;
   margin: 0 15px;
   text-align: center;
}
.j_storageList ul li a{
   width: 100%;
   height: auto;
   display: block;
   margin: 5px;
}

.j_storageList ul li a div:last-child p{
   color: #111;
}
.j_storageList ul li a div:last-child p:first-child{
   font-size: 16px;
   line-height: 35px;
   font-weight: 600;
}
.j_storageList ul li a div:last-child p:nth-child(2){
   font-size: 12px;
}
.j_storageList ul li a div:last-child p:nth-child(3){
   display: inline-block;
   font-size: 12px;
   line-height: 33px;
}
.j_storageList ul li a div:last-child p:nth-child(3) em{
   font-size: 20px;
   font-weight: bold;
}
.j_storageList ul li a div:last-child span em{
   font-size: 14px;
   font-weight: bold;
   color: #111;
}

option {
   height: 100px !important;
}
/* p_pagination  */

/* page button */

.j_paging {
  margin: auto;
  margin-bottom: 50px;
  width: 400px;
}

.j_paging::after {
  display: block;
  content: "";
  clear: both;
}

/* right / left button */

.j_select_left {
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/icons/btn_prev.gif) no-repeat;
  cursor: pointer;
}

.j_select_right {
  float: right;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/icons/btn_next.gif) no-repeat;
  cursor: pointer;
}

/* paging  */

.j_pagination {
  display: block;
  margin: auto;
  width: 111px;
  text-align: center;
  line-height: 32px;
}

.j_pagination li {
  display: block;
  float: left;
  margin-left: 36px;
  width: 32px;
  height: 32px;
  /* background: #ff552e; */
  color: #666;
}

.j_pagination li a {
  display: block;
  width: 32px;
  height: 32px;
  /* background: #ff552e; */
  color: #666;
}

.j_pagination li a.active {
  display: block;
  width: 32px;
  height: 32px;
  background: #666;
  color: #fff;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
   .j_storageBanner{
      background: url(../img/cabinet/cabinetBanner_768.jpg);
      background-size: cover;
   }
   .j_storageBanner .j_title h2{
      top: 36%;
   }
   .j_storageBanner .j_description{
      display: none;
   }
}

@media screen and (max-width: 480px) {
   .j_storageBanner{
      display: none;
   }
}
