@charset "UTF-8";
header::after {
  clear: both;
  content: "";
  display: block;
}

header {
  width: 100%;
  height: 190px;
  background: #333333;
  position: relative;
}

header .logo {
  width: 150px;
  height: 80px;
  margin: auto;
  padding-top: 20px;
  display: block;
}

header .logo img {
  width: inherit;
}

nav {
  width: 1200px;
  margin: auto;
  height: 50px;
  font-size: 19px;
  margin-top: 30px;
}

nav ul {
  height: inherit;
  margin: auto;
  line-height: 44px;
}

nav ul li {
  float: left;
  width: auto;
  margin-right: 114px;
  text-align: center;
  position: relative;
  height: 50px;
}

nav ul li:last-child {
  margin-right: 0;
  float: right;
  width: 70px !important;
}

nav ul li a {
  text-align: center;
  color: rgb(200, 200, 200);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
nav ul li a:hover {
  color:#fff;
}

.subnav-wrapper {
  width: 100%;
  height: 400px;
  background: rgba(223, 223, 223, 0.95);
  position: absolute;
  top: 190px;
  padding: 20px 0;
  box-shadow: -1px 2px 20px rgb(69, 69, 69);
  z-index: 999;
}

.subnav {
  float: left;
  text-align: left;
  box-sizing: border-box;
  margin-right: 115px;
}

.lastdl {
  margin-right: 0px !important;
}

.lastdl::after {
  /* float: left;
  margin-right: 0;
  width: 67px !important; */
  content: "";
  display: block;
  clear: both;
}

.subnav:last-child {
  margin-right: 0;
  float: right;
}

.subnav:first-child {
  margin-left: 157px;
}

.gnb>ul::after {
  display: block;
  content: "";
  clear: both;
}

.subnav-inner {
  width: 1200px;
  height: 300px;
  margin: auto;
  position: relative;
}

.btn-close {
  position: absolute;
  z-index: 99;
  top: 5px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/close.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.subnav>dt {
  font-weight: bold;
  text-align: left;
  margin-bottom: 4px;
}

.subnav>dt>a {
  color: #404040;
  font-size: 19px;
  line-height: 30px;
}

.subnav dd {
  font-size: 17px;
  line-height: 30px;
  text-align: left;
}

dl.lineH>dd {
  line-height: 39px;
}

.subnav dd a {
  color: black;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.subnav dd a:hover{
  color: #858585;
}

.lastdd {
  margin-bottom: 25px;
}

.widthcontrol {
  width: 150px;
}


/* -------------------  header end ------------------- */

.contents {
  width: 100%;
  overflow: hidden;
}

.contents::after {
  content: "";
  display: block;
  clear: both;
}

section::after {
  content: "";
  display: block;
  clear: both;
}

.firstblock {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  height: auto;
  margin-bottom: 50px;
}


.secondblock {
  margin-top: 50px;
  width: 1200px;
  height: 340px;
  /* background: rgb(4, 224, 53); */
  margin: 70px auto;
  padding-top: 25px;
}

.slidenav {
  width: 380px;
  height: 45px;
  margin: auto;
}

.slidenav ul {
  height: 40px;
  position: relative;
  border-bottom: rgb(181, 181, 181) 2px solid;
}

.slidenav ul>li {
  float: left;
  width: 170px;
  height: 30px;
  text-align: center;
  line-height: 26px;
  padding: 10px 10px 0px;
}

.slidenav ul>li>a {
  font-size: 15px;
  color: #333333;
}

.slidenav .mainOn {
  background: #FFDA1A;
}

.stuffslide {
  width: 1200px;
  height: 320px;
  position: relative;
}

.itemslide-visual {
  margin: auto;
  padding-top: 30px;
  box-sizing: border-box;
  width: 1100px;
  height: 260px;
  overflow: hidden;
}

.bestitem-slide {
  width: 99999px;
  height: 260px;
  margin: auto;
  overflow: hidden;
  position: relative;
  /*margin-left: -1158px*/
}

.bestitem-slide>li {
  float: left;
  padding: 10px;
  margin-right: 42px;
}

.bestitem-slide>li>a>img {
  display: block;
  width: 130px;
}

.bestitem-slide>li>a>span {
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #535151;
}

.bestitem-slide>li>a>strong {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  color: #333333;
}

.main-contorler {
  position: absolute;
  width: 100%;
  top: 100px;
}

.mainprev, .mainnext {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
}

.mainprev2, .mainnext2 {
  display: block;
  text-indent: -9999px;
  width: 30px;
  height: 30px;
}

.mainprev {
  float: left;
  background: url('../img/icons/prev.png');
  background-size: contain;
}

.mainnext {
  float: right;
  background: url('../img/icons/next.png');
  background-size: contain;
}

.main-pagenation {
  width: 36px;
  margin: auto;
}

.main-pagenation span {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: rgb(186, 186, 186);
  border-radius: 50%;
}

span.pageOn {
  background: rgb(34, 34, 34);
}

.thirdblock {
  width: 100%;
  height: 170px;
  position: relative;
  background: #FE6A1F;
  z-index: 10;
  margin-bottom: 100px;
}

.longbanner-visual {
  display: block;
  width: 1060px;
  height: 170px;
  margin: auto;
  position: relative;
}

.longbanner-inner {
  width: 9999px;
  position: absolute;
  top: -30px;
}

.longbanner-inner>img {
  display: block;
  left: 39px;
  position: absolute;
}

.longbanner-inner>img:last-child {
  display: none;
}

.thirdblock .main-contorler2 {
  width: 956px;
  margin: auto;
  padding-top: 70px;
  z-index: 100;
  position: absolute;
  left: 50px;
}

.main-contorler2 a {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
}

.main-contorler2 a img {
  display: block;
  width: 30px;
}

.mainprev2 {
  float: left;
}

.mainnext2 {
  float: right;
}

.addedblock {
  width: 100%;
  height: 830px;
  background: linear-gradient(white, white, white, rgb(214, 214, 214));
  padding-bottom: 30px;
}

.addedblock-inner {
  width: 1200px;
  margin: auto;
}

.addedblock-inner h2 {
  font-size: 34px;
  font-weight: bold;
  padding: 40px 0 25px 0;
  width: 262px;
  margin: auto;
}

.imgblock {
  width: 1060px;
  height: 440px;
  margin: auto;
}

.imgblock ul li {
  float: left;
  width: 340px;
  margin-right: 20px;
  cursor: pointer;
}

.imgblock ul li:last-child {
  margin-right: 0;
}

.bottomslide {
  width: 1060px;
  margin: auto;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.bottomslide ul {
  width: 3000px;
}

.bottomslide ul li {
  float: left;
  cursor: pointer;
}

.bottomslide .main-contorler3 {
  width: 1000px;
  position: absolute;
  top: 100px;
  left: 30px;
}

.bottomslide .main-contorler3 .mainprev3 {
  display: block;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  float: left;
}

.mainprev3>img {
  display: block;
  width: 30px;
  height: 30px;
}

.bottomslide .main-contorler3 .mainnext3 {
  display: block;
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  float: right;
}

.mainnext3>img {
  display: block;
  width: 30px;
  height: 30px;
}

.fourthblock {
  width: 1200px;
  margin: auto;
  margin-bottom: 80px;
}

.fourthblock-inner {
  width: 1060px;
  margin: auto;
}

.fourthblock-inner ul li {
  float: left;
  width: 340px;
  margin-right: 20px;
  cursor: pointer;
}

.fourthblock-inner ul li:last-child {
  margin-right: 0px;
}

.lastblock {
  width: 100%;
}

.photowrapper {
  width: 1200px;
  margin: auto;
}

.photowrapper ul {
  width: 1200px;
  height: 300px;
}

.photowrapper ul li:first-child {
  background: url('../img/main/div1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.photowrapper ul li:last-child {
  background: url('../img/main/div2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.photowrapper ul li {
  width: 400px;
  height: 200px;
  float: left;
}

.centertext {
  width: 400px !important;
  border: 3px black solid;
  box-sizing: border-box;
  text-align: center;
  font-family: impact;
  font-size: 30px;
  /* font-weight: bold; */
  padding: 20px 0;
  line-height: 39px;
  letter-spacing: 2px;
}

.centertext p:nth-child(3) {
  font-size: 22px;
}

.centertext p:nth-child(4) {
  font-size: 18px;
}


/* -------------------  contents end ------------------- */

footer {
  background: rgb(226, 226, 226);
  height: 80px;
  box-sizing: border-box;
  padding-top: 23px;
}

footer .footer-inner {
  width: 1200px;
  margin: auto;
}

footer .footer-inner .footer-left .footerlogo {
  width: 190px;
  height: inherit;
}

footer .footer-left {
  float: left;
}

footer .footer-left img {
  float: left;
}

footer .footer-left p {
  float: right;
  line-height: 40px;
  font-size: 12px;
}

footer .footer-right {
  float: right;
  margin-right: 30px;
  margin-top: 11px;
  font-size: 14px;
}

footer .footer-right ul {
  height: 18px;
}

footer .footer-right ul li {
  float: left;
  height: 18px;
  margin-left: 32px;
}

footer .footer-right ul li a {
  color: black;
  margin-left: 30px;
  vertical-align: top;
}

footer .footer-right ul li:first-child {
  margin-left: 0;
}

footer .footer-right ul li:first-child::before {
  border: none;
}

footer .footer-right ul li:last-child a::after {
  display: block;
  content: "";
  clear: both;
}

footer .footer-right ul li::before {
  content: " ";
  width: 1px;
  height: 14px;
  display: inline-block;
  border-right: 1px solid #00000054;
  margin: auto;
}


/* -------------------  footer end ------------------- */
