@charset "utf-8";
body {
  font-family: "Apple SD Gothic Neo", "Malgun Gothic", verdana, "helvetica neue", arial;
}

/* search bar */

.p_search_bar{
  width:1200px;
  margin:auto;
      margin-top: 10px;
      margin-bottom: 50px;
      padding-bottom: 10px;
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid lightgray;
}

.p_search_left{
  float: left;
  width:200px;
  height:30px;
  line-height: 30px;
}
.p_circle{
  margin-left:10px;
  margin-top:13px;
  float:left;
  width:10px;
  height:10px;
  border-radius: 50%;
  background:gray;

}
.p_search_left span{
  font-size: 12px;
  display: inline-block;
  margin-top:3px;
  margin-left:20px;
  width:200px;
  height:30px;
  color: #979899;
  font-weight: 700;
}
.p_search_left span>p{
  /* font-weight: bold; */
  font-size: 12px;
  display: inline-block;
  color: #979899;
  font-weight: 700;
}


.p_search_bar select{
  /* margin-top:9px; */
  float: right;
  border-radius: 3px;
  height:30px;
  width:200px;
  font-size: 16px;
}
.p_search_bar option{
  color:#fff;
  background-color: #333;
}
/* .p_search_bar option:last-child{
  color:#fff;
  background-color: #333;
} */

/* banner */
.p_new_banner {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  /* background: red; */
}

.p_new_banner img {
  display: block;
  width: 100%;
  height: 250px;
  background: url(../img/new/20173_cosl01a_01_PH140980.jpg) no-repeat;
  background-size: cover;
  background-position: 0px -346px;
}

.p_new_banner h2 {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  line-height: 69px;
  border-bottom: 2px solid #fff;
  text-shadow: 2px 3px 7px #333;
}

.p_new_banner span {
  position: absolute;
  width: 1200px;
  margin-top: 50px;
  margin-bottom: 50px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 25px;
  display: block;
  color: #fff;
  text-shadow: 2px 3px 7px #333;
}

.p_new_banner:after {
  display: block;
  content: "";
  clear: both;
}

/* content  */

.p_new_page {
  display: block;
  margin: auto;
  width: 1200px;
  height: auto;
  /* border: 1px solid #000; */
  box-sizing: border-box;
  /* background: purple; */
  overflow: hidden
}

/* left nav */

.p_side_nav {
  float: left;
  width: 12%;
  height: auto;
  /* border: 1px solid #000; */
}

.p_side_nav h2 {
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;
}

.p_side_nav .p_side_nav_left ul li:first-child {
  border-top: 1px solid #d6d6d6;
}

.p_side_nav .p_side_nav_left ul li {
  width: 150px;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #d6d6d6;
  font-size: 14px;
}

.p_side_nav .p_side_nav_left ul li a {
  /* color: #222; */
color: #222;
  margin-left: 12px;
  transition: 0.2s;
}

.p_side_nav .p_side_nav_left ul li a:hover {
  /* color: #d6d6d6; */
    color: #cecece;

}

/* goods list */

.p_content_list {
  margin: auto;
  width: 84%;
  float: right;
  margin-bottom: 40px;
  /* background: red; */
}

.p_goods_list li {
  display: block;
  width: 230px;
  height: 100%;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

.p_goods_list li:hover {
  transition: 0.3s;
  box-shadow: 3px 3px 11px rgba(0, 0, 0, 0.2);
}

.p_goods_list li .p_goods {
  width: inherit;
  height: 230px;
  /* background: yellow; */
}

.p_goods_list li .p_goods_title {
  text-align: center;
  width: inherit;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-top: 10px;
  line-height: 30px;
  /* background: blue; */
}

.p_goods_title .p_new_item {
  margin: auto;
  margin-top: 10px;
  display: block;
  font-weight: bold;
  width: 50px;
  height: 30px;
  line-height: 25px;
  background: red;
  border-radius: 5px;
  color: #fff;
}

.p_goods_list li .p_goods_title span:first-child {
  font-weight: bold;
}

.p_goods span {
  display: block;
  width: 230px;
  height: 230px;
}

.p_goods span>img {
  margin: auto;
      display: block;
      width: 200px;
      padding-top: 10px;
}

.p_content_list::after {
  display: block;
  content: "";
  clear: both;
}

.p_new_page::after {
  display: block;
  content: "";
  clear: both;
}

/* p_pagination  */

/* page button */

.p_paging {
  margin: auto;
  margin-bottom: 50px;
  width: 400px;
}

.p_paging::after {
  display: block;
  content: "";
  clear: both;
}

/* right / left button */

.p_select_left {
  float: left;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/icons/btn_prev.gif) no-repeat;
  cursor: pointer;
}

.p_select_right {
  float: right;
  display: block;
  width: 32px;
  height: 32px;
  background: url(../img/icons/btn_next.gif) no-repeat;
  cursor: pointer;
}

/* paging  */

.p_pagination {
  display: block;
  margin: auto;
  width: 111px;
  text-align: center;
  line-height: 32px;
}

.p_pagination li {
  display: block;
  float: left;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  /* background: #ff552e; */
  color: #666;
}

.p_pagination li a {
  display: block;
  width: 32px;
  height: 32px;
  /* background: #ff552e; */
  color: #666;
}

.p_pagination li a.active {
  display: block;
  width: 32px;
  height: 32px;
  background: #666;
  /* background: #fad606; */
  color: #fff;
  transition: 0.3s;
}

.p_pagination li:first-child {
  margin-left: 5px;
}

.p_pagination li:last-child {
  margin-right: 0;
}

/* ========================== */
